<div class="jumbotron">
  <div class="container">
    <h1>HyperLoop Bikes</h1>
    <p>Bikes Bikes Bikes</p>
    <p>
      <a href="/bikes/new" class="btn btn-primary btn-lg">View Bikes</a>
    </p>
    <p>
      <a href="/about" class="btn btn-primary btn-lg">Add Bikes</a>
    </p>
  </div>
</div>
